{% extends 'presentation/base.html' %}
{% load static %}

{% block title %}Flight Checker{% endblock %}

{% block content %}
    <div class="container">
        <div class="card card-container">
            <h1 class="flightr-title">FlightR</h1>
            <h4 class="flightr-description">Find out your ideal arrival time at Aberdeen Airport pickup point!</h4>
            <form class="form-signin" role="form" action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="flightr-submit btn btn-lg btn-primary btn-block btn-signin" type="submit">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}
